* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.audiobook {
  width: 100%;
  height: auto;
  padding-top: 7%;
}
.audiobook .a_inner {
  width: 85%;
  height: auto;
  margin: auto;
  font-family: "SUIT-Regular";
}
.audiobook .a_inner p {
  font-size: 3.9rem;
}
.audiobook .a_inner span {
  font-size: 3.9rem;
  font-weight: bold;
}
.audiobook .a_inner .effect {
  width: 100%;
  height: 82.333rem;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
.audiobook .a_inner .effect1 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect1.png) center right/25rem no-repeat;
  margin: 0 2% 0 0;
}
.audiobook .a_inner .effect1 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect1_1, .audiobook .a_inner .effect1_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect1_1 img, .audiobook .a_inner .effect1_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect1_1 p, .audiobook .a_inner .effect1_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect1_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect2 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect2.png) center right/25rem no-repeat;
}
.audiobook .a_inner .effect2 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect2_1, .audiobook .a_inner .effect2_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect2_1 img, .audiobook .a_inner .effect2_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect2_1 p, .audiobook .a_inner .effect2_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect2_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect3 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect3.png) center right/25rem no-repeat;
  margin: 0 2% 0 0;
}
.audiobook .a_inner .effect3 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect3_1, .audiobook .a_inner .effect3_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect3_1 img, .audiobook .a_inner .effect3_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect3_1 p, .audiobook .a_inner .effect3_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect3_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect4 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect4.png) center right/25rem no-repeat;
}
.audiobook .a_inner .effect4 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect4_1, .audiobook .a_inner .effect4_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect4_1 img, .audiobook .a_inner .effect4_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect4_1 p, .audiobook .a_inner .effect4_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect4_1 {
  margin: 4rem 0 1.25rem 0;
}

.book {
  width: 100%;
  height: auto;
  font-family: "SUIT-Regular";
}
.book1, .book2 {
  width: 85%;
  height: auto;
  margin-top: 10%;
}
.book1 p, .book1 strong, .book1 span, .book2 p, .book2 strong, .book2 span {
  font-size: 4.583rem;
}
.book1 span, .book2 span {
  color: #00c73c;
}
.book1_1, .book1_2, .book1_3, .book1_4, .book1_5, .book2_1, .book2_2, .book2_3, .book2_4, .book2_5 {
  width: 100%;
  margin-top: 4%;
}
.book1_1 strong, .book1_2 strong, .book1_3 strong, .book1_4 strong, .book1_5 strong, .book2_1 strong, .book2_2 strong, .book2_3 strong, .book2_4 strong, .book2_5 strong {
  font-size: 2.5rem;
}
.book1_1 p, .book1_2 p, .book1_3 p, .book1_4 p, .book1_5 p, .book2_1 p, .book2_2 p, .book2_3 p, .book2_4 p, .book2_5 p {
  font-size: 1.833rem;
  margin: 1% 0;
}
.book1_1 .b_inner, .book1_2 .b_inner, .book1_3 .b_inner, .book1_4 .b_inner, .book1_5 .b_inner, .book2_1 .b_inner, .book2_2 .b_inner, .book2_3 .b_inner, .book2_4 .b_inner, .book2_5 .b_inner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.book1_1 .b_inner .ab, .book1_2 .b_inner .ab, .book1_3 .b_inner .ab, .book1_4 .b_inner .ab, .book1_5 .b_inner .ab, .book2_1 .b_inner .ab, .book2_2 .b_inner .ab, .book2_3 .b_inner .ab, .book2_4 .b_inner .ab, .book2_5 .b_inner .ab {
  width: 111.11%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.book1_1 .b_inner .ab1, .book1_1 .b_inner .ab2, .book1_1 .b_inner .ab3, .book1_1 .b_inner .ab4, .book1_1 .b_inner .ab5, .book1_1 .b_inner .ab6, .book1_2 .b_inner .ab1, .book1_2 .b_inner .ab2, .book1_2 .b_inner .ab3, .book1_2 .b_inner .ab4, .book1_2 .b_inner .ab5, .book1_2 .b_inner .ab6, .book1_3 .b_inner .ab1, .book1_3 .b_inner .ab2, .book1_3 .b_inner .ab3, .book1_3 .b_inner .ab4, .book1_3 .b_inner .ab5, .book1_3 .b_inner .ab6, .book1_4 .b_inner .ab1, .book1_4 .b_inner .ab2, .book1_4 .b_inner .ab3, .book1_4 .b_inner .ab4, .book1_4 .b_inner .ab5, .book1_4 .b_inner .ab6, .book1_5 .b_inner .ab1, .book1_5 .b_inner .ab2, .book1_5 .b_inner .ab3, .book1_5 .b_inner .ab4, .book1_5 .b_inner .ab5, .book1_5 .b_inner .ab6, .book2_1 .b_inner .ab1, .book2_1 .b_inner .ab2, .book2_1 .b_inner .ab3, .book2_1 .b_inner .ab4, .book2_1 .b_inner .ab5, .book2_1 .b_inner .ab6, .book2_2 .b_inner .ab1, .book2_2 .b_inner .ab2, .book2_2 .b_inner .ab3, .book2_2 .b_inner .ab4, .book2_2 .b_inner .ab5, .book2_2 .b_inner .ab6, .book2_3 .b_inner .ab1, .book2_3 .b_inner .ab2, .book2_3 .b_inner .ab3, .book2_3 .b_inner .ab4, .book2_3 .b_inner .ab5, .book2_3 .b_inner .ab6, .book2_4 .b_inner .ab1, .book2_4 .b_inner .ab2, .book2_4 .b_inner .ab3, .book2_4 .b_inner .ab4, .book2_4 .b_inner .ab5, .book2_4 .b_inner .ab6, .book2_5 .b_inner .ab1, .book2_5 .b_inner .ab2, .book2_5 .b_inner .ab3, .book2_5 .b_inner .ab4, .book2_5 .b_inner .ab5, .book2_5 .b_inner .ab6 {
  width: 9.6%;
  height: 19.4775rem;
  padding: 0 0.4%;
}
.book1_1 .b_inner .ab1 img, .book1_1 .b_inner .ab2 img, .book1_1 .b_inner .ab3 img, .book1_1 .b_inner .ab4 img, .book1_1 .b_inner .ab5 img, .book1_1 .b_inner .ab6 img, .book1_2 .b_inner .ab1 img, .book1_2 .b_inner .ab2 img, .book1_2 .b_inner .ab3 img, .book1_2 .b_inner .ab4 img, .book1_2 .b_inner .ab5 img, .book1_2 .b_inner .ab6 img, .book1_3 .b_inner .ab1 img, .book1_3 .b_inner .ab2 img, .book1_3 .b_inner .ab3 img, .book1_3 .b_inner .ab4 img, .book1_3 .b_inner .ab5 img, .book1_3 .b_inner .ab6 img, .book1_4 .b_inner .ab1 img, .book1_4 .b_inner .ab2 img, .book1_4 .b_inner .ab3 img, .book1_4 .b_inner .ab4 img, .book1_4 .b_inner .ab5 img, .book1_4 .b_inner .ab6 img, .book1_5 .b_inner .ab1 img, .book1_5 .b_inner .ab2 img, .book1_5 .b_inner .ab3 img, .book1_5 .b_inner .ab4 img, .book1_5 .b_inner .ab5 img, .book1_5 .b_inner .ab6 img, .book2_1 .b_inner .ab1 img, .book2_1 .b_inner .ab2 img, .book2_1 .b_inner .ab3 img, .book2_1 .b_inner .ab4 img, .book2_1 .b_inner .ab5 img, .book2_1 .b_inner .ab6 img, .book2_2 .b_inner .ab1 img, .book2_2 .b_inner .ab2 img, .book2_2 .b_inner .ab3 img, .book2_2 .b_inner .ab4 img, .book2_2 .b_inner .ab5 img, .book2_2 .b_inner .ab6 img, .book2_3 .b_inner .ab1 img, .book2_3 .b_inner .ab2 img, .book2_3 .b_inner .ab3 img, .book2_3 .b_inner .ab4 img, .book2_3 .b_inner .ab5 img, .book2_3 .b_inner .ab6 img, .book2_4 .b_inner .ab1 img, .book2_4 .b_inner .ab2 img, .book2_4 .b_inner .ab3 img, .book2_4 .b_inner .ab4 img, .book2_4 .b_inner .ab5 img, .book2_4 .b_inner .ab6 img, .book2_5 .b_inner .ab1 img, .book2_5 .b_inner .ab2 img, .book2_5 .b_inner .ab3 img, .book2_5 .b_inner .ab4 img, .book2_5 .b_inner .ab5 img, .book2_5 .b_inner .ab6 img {
  width: 100%;
  border-radius: 0.5rem;
}
.book1_1 .b_inner span, .book1_2 .b_inner span, .book1_3 .b_inner span, .book1_4 .b_inner span, .book1_5 .b_inner span, .book2_1 .b_inner span, .book2_2 .b_inner span, .book2_3 .b_inner span, .book2_4 .b_inner span, .book2_5 .b_inner span {
  position: absolute;
  color: #ccc;
  opacity: 0.5;
  cursor: pointer;
  top: 33%;
}
.book1_1 .b_inner .before, .book1_2 .b_inner .before, .book1_3 .b_inner .before, .book1_4 .b_inner .before, .book1_5 .b_inner .before, .book2_1 .b_inner .before, .book2_2 .b_inner .before, .book2_3 .b_inner .before, .book2_4 .b_inner .before, .book2_5 .b_inner .before {
  left: 0;
}
.book1_1 .b_inner .after, .book1_2 .b_inner .after, .book1_3 .b_inner .after, .book1_4 .b_inner .after, .book1_5 .b_inner .after, .book2_1 .b_inner .after, .book2_2 .b_inner .after, .book2_3 .b_inner .after, .book2_4 .b_inner .after, .book2_5 .b_inner .after {
  right: 0;
}
.book1_1 .b_inner .willa, .book1_2 .b_inner .willa, .book1_3 .b_inner .willa, .book1_4 .b_inner .willa, .book1_5 .b_inner .willa, .book2_1 .b_inner .willa, .book2_2 .b_inner .willa, .book2_3 .b_inner .willa, .book2_4 .b_inner .willa, .book2_5 .b_inner .willa {
  width: 250%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.book1_1 .b_inner .willa li, .book1_2 .b_inner .willa li, .book1_3 .b_inner .willa li, .book1_4 .b_inner .willa li, .book1_5 .b_inner .willa li, .book2_1 .b_inner .willa li, .book2_2 .b_inner .willa li, .book2_3 .b_inner .willa li, .book2_4 .b_inner .willa li, .book2_5 .b_inner .willa li {
  width: 9.6%;
  height: auto;
  padding: 0 0.4%;
}
.book1_1 .b_inner .willa li img, .book1_2 .b_inner .willa li img, .book1_3 .b_inner .willa li img, .book1_4 .b_inner .willa li img, .book1_5 .b_inner .willa li img, .book2_1 .b_inner .willa li img, .book2_2 .b_inner .willa li img, .book2_3 .b_inner .willa li img, .book2_4 .b_inner .willa li img, .book2_5 .b_inner .willa li img {
  width: 100%;
  border-radius: 0.5rem;
}
.book1_1 .b_inner .themawrap, .book1_2 .b_inner .themawrap, .book1_3 .b_inner .themawrap, .book1_4 .b_inner .themawrap, .book1_5 .b_inner .themawrap, .book2_1 .b_inner .themawrap, .book2_2 .b_inner .themawrap, .book2_3 .b_inner .themawrap, .book2_4 .b_inner .themawrap, .book2_5 .b_inner .themawrap {
  width: 234%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.book1_1 .b_inner .themawrap .thema, .book1_2 .b_inner .themawrap .thema, .book1_3 .b_inner .themawrap .thema, .book1_4 .b_inner .themawrap .thema, .book1_5 .b_inner .themawrap .thema, .book2_1 .b_inner .themawrap .thema, .book2_2 .b_inner .themawrap .thema, .book2_3 .b_inner .themawrap .thema, .book2_4 .b_inner .themawrap .thema, .book2_5 .b_inner .themawrap .thema {
  width: 14.6%;
  height: auto;
  padding: 0 0.4%;
}
.book1_1 .b_inner .themawrap .thema img, .book1_2 .b_inner .themawrap .thema img, .book1_3 .b_inner .themawrap .thema img, .book1_4 .b_inner .themawrap .thema img, .book1_5 .b_inner .themawrap .thema img, .book2_1 .b_inner .themawrap .thema img, .book2_2 .b_inner .themawrap .thema img, .book2_3 .b_inner .themawrap .thema img, .book2_4 .b_inner .themawrap .thema img, .book2_5 .b_inner .themawrap .thema img {
  width: 100%;
  border-radius: 0.5rem;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#wrap {
  height: auto;
  margin: auto;
  min-width: 1200px;
}

#slider {
  width: 100%;
}
#slider img {
  width: 100%;
}

.video {
  width: 100%;
}
.video video {
  width: 100%;
}

.free {
  width: 100%;
  height: auto;
  margin-top: 7%;
}
.free img {
  width: 100%;
}

.review {
  width: 100%;
  height: auto;
  background-color: #000;
  padding: 7% 0;
  font-family: "SUIT-Regular";
  font-weight: bold;
  position: relative;
}
.review .r_inner {
  width: 85%;
  height: auto;
  margin: auto;
  color: #fff;
}
.review .r_inner p, .review .r_inner span {
  font-size: 4.583rem;
}
.review .r_inner span {
  color: #00c73c;
}
.review .r_inner .r_videowrap {
  width: 100%;
  height: auto;
  margin-top: 4%;
  overflow: hidden;
}
.review .r_inner .r_videowrap .r_video {
  width: 271rem;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.review .r_inner .r_videowrap .r_video1, .review .r_inner .r_videowrap .r_video2, .review .r_inner .r_videowrap .r_video3, .review .r_inner .r_videowrap .r_video4, .review .r_inner .r_videowrap .r_video5, .review .r_inner .r_videowrap .r_video6, .review .r_inner .r_videowrap .r_video7, .review .r_inner .r_videowrap .r_video8 {
  width: 32.7rem;
  height: auto;
}
.review .r_inner .r_videowrap .r_video1 iframe, .review .r_inner .r_videowrap .r_video2 iframe, .review .r_inner .r_videowrap .r_video3 iframe, .review .r_inner .r_videowrap .r_video4 iframe, .review .r_inner .r_videowrap .r_video5 iframe, .review .r_inner .r_videowrap .r_video6 iframe, .review .r_inner .r_videowrap .r_video7 iframe, .review .r_inner .r_videowrap .r_video8 iframe {
  width: 100%;
  height: 20rem;
  margin-bottom: 2%;
}
.review .r_inner .r_videowrap .r_video1 p, .review .r_inner .r_videowrap .r_video2 p, .review .r_inner .r_videowrap .r_video3 p, .review .r_inner .r_videowrap .r_video4 p, .review .r_inner .r_videowrap .r_video5 p, .review .r_inner .r_videowrap .r_video6 p, .review .r_inner .r_videowrap .r_video7 p, .review .r_inner .r_videowrap .r_video8 p {
  font-size: 2.166rem;
}
.review span {
  color: #fff;
  font-size: 5.833rem;
  position: absolute;
  cursor: pointer;
}
.review .prev {
  left: 3%;
  top: 45%;
}
.review .next {
  right: 3%;
  top: 45%;
}

.FAQ {
  width: 55%;
  height: auto;
  margin: auto;
  padding: 2.5% 0 4.5% 0;
}
.FAQ strong {
  font-size: 40px;
  font-family: "GangwonEduPowerExtraBoldA";
}
.FAQ .question {
  width: 92.6%;
  height: auto;
  font-family: "Pretendard-Regular";
}
.FAQ .question1, .FAQ .question2, .FAQ .question3, .FAQ .question4, .FAQ .question5 {
  width: 100%;
  height: auto;
  margin-top: 3%;
  padding: 2% 4%;
  border-radius: 1.5rem;
  background-color: rgb(245, 246, 249);
  position: relative;
}
.FAQ .question1 span, .FAQ .question1 i, .FAQ .question2 span, .FAQ .question2 i, .FAQ .question3 span, .FAQ .question3 i, .FAQ .question4 span, .FAQ .question4 i, .FAQ .question5 span, .FAQ .question5 i {
  font-size: 1.666rem;
  font-weight: bold;
  cursor: pointer;
}
.FAQ .question1 i, .FAQ .question2 i, .FAQ .question3 i, .FAQ .question4 i, .FAQ .question5 i {
  position: absolute;
  right: 4%;
}
.FAQ .question1 p, .FAQ .question2 p, .FAQ .question3 p, .FAQ .question4 p, .FAQ .question5 p {
  font-size: 1.333rem;
  margin-top: 2.5%;
  display: none;
}