.audiobook {
  width: 100%;
  height: auto;
  padding-top: 7%;
}
.audiobook .a_inner {
  width: 85%;
  height: auto;
  margin: auto;
  font-family: "SUIT-Regular";
}
.audiobook .a_inner p {
  font-size: 4.583rem;
}
.audiobook .a_inner span {
  font-size: 4.583rem;
  font-weight: bold;
}
.audiobook .a_inner .effect {
  width: 100%;
  height: 82.333rem;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
.audiobook .a_inner .effect1 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect1.png) center right/25rem no-repeat;
  margin: 0 2% 0 0;
}
.audiobook .a_inner .effect1 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect1_1, .audiobook .a_inner .effect1_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect1_1 img, .audiobook .a_inner .effect1_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect1_1 p, .audiobook .a_inner .effect1_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect1_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect2 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect1.png) center right/25rem no-repeat;
}
.audiobook .a_inner .effect2 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect2_1, .audiobook .a_inner .effect2_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect2_1 img, .audiobook .a_inner .effect2_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect2_1 p, .audiobook .a_inner .effect2_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect2_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect3 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect1.png) center right/25rem no-repeat;
  margin: 0 2% 0 0;
}
.audiobook .a_inner .effect3 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect3_1, .audiobook .a_inner .effect3_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect3_1 img, .audiobook .a_inner .effect3_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect3_1 p, .audiobook .a_inner .effect3_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect3_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect4 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect1.png) center right/25rem no-repeat;
}
.audiobook .a_inner .effect4 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect4_1, .audiobook .a_inner .effect4_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect4_1 img, .audiobook .a_inner .effect4_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect4_1 p, .audiobook .a_inner .effect4_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect4_1 {
  margin: 4rem 0 1.25rem 0;
}

.book {
  width: 100%;
  height: auto;
  background-color: aliceblue;
  font-family: "SUIT-Regular";
}
.book1, .book2 {
  width: 85%;
  height: auto;
  margin: auto;
  margin-top: 10%;
  background-color: lightcyan;
}
.book1 p, .book1 strong, .book1 span, .book2 p, .book2 strong, .book2 span {
  font-size: 4.583rem;
}
.book1 span, .book2 span {
  color: #00c73c;
}
.book1_1, .book1_2, .book1_3, .book1_4, .book1_5, .book2_1, .book2_2, .book2_3, .book2_4, .book2_5 {
  background-color: lightskyblue;
  margin-top: 4%;
}
.book1_1 strong, .book1_2 strong, .book1_3 strong, .book1_4 strong, .book1_5 strong, .book2_1 strong, .book2_2 strong, .book2_3 strong, .book2_4 strong, .book2_5 strong {
  font-size: 2.5rem;
}
.book1_1 p, .book1_2 p, .book1_3 p, .book1_4 p, .book1_5 p, .book2_1 p, .book2_2 p, .book2_3 p, .book2_4 p, .book2_5 p {
  font-size: 22px;
  margin: 1% 0;
}
.book1_1 .b_inner, .book1_2 .b_inner, .book1_3 .b_inner, .book1_4 .b_inner, .book1_5 .b_inner, .book2_1 .b_inner, .book2_2 .b_inner, .book2_3 .b_inner, .book2_4 .b_inner, .book2_5 .b_inner {
  width: 100%;
  height: auto;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
}
.book1_1 .b_inner1, .book1_2 .b_inner1, .book1_3 .b_inner1, .book1_4 .b_inner1, .book1_5 .b_inner1, .book2_1 .b_inner1, .book2_2 .b_inner1, .book2_3 .b_inner1, .book2_4 .b_inner1, .book2_5 .b_inner1 {
  width: 10%;
  height: 19.4775rem;
  background-color: skyblue;
}
.book1_1 .b_inner2, .book1_2 .b_inner2, .book1_3 .b_inner2, .book1_4 .b_inner2, .book1_5 .b_inner2, .book2_1 .b_inner2, .book2_2 .b_inner2, .book2_3 .b_inner2, .book2_4 .b_inner2, .book2_5 .b_inner2 {
  width: 24%;
  height: 14.328rem;
  background-color: lightcoral;
}
.book1_1 .b_inner3, .book1_2 .b_inner3, .book1_3 .b_inner3, .book1_4 .b_inner3, .book1_5 .b_inner3, .book2_1 .b_inner3, .book2_2 .b_inner3, .book2_3 .b_inner3, .book2_4 .b_inner3, .book2_5 .b_inner3 {
  width: 15%;
  height: 29.578rem;
  background-color: lightgoldenrodyellow;
}