* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
header {
  width: 100%;
  height: 4.666rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  font-family: "Pretendard-Regular";
  z-index: 5;
}
header .h_logo {
  width: 6rem;
  height: 4.666rem;
}
header .h_logo img {
  width: 100%;
}
header .h_inner {
  width: 63%;
  height: 4.666rem;
  display: flex;
  justify-content: space-between;
}
header .h_inner .type {
  width: 12.5rem;
  display: flex;
  align-items: center;
  margin: 0;
}
header .h_inner .type ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .h_inner .type li a {
  font-size: 1.166rem;
  padding: 0 1rem;
  font-weight: 500;
}
header .h_inner .login {
  width: 15.5rem;
  display: flex;
  align-items: center;
}
header .h_inner .login ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .h_inner .login ul li {
  color: rgb(210, 210, 215);
}
header .h_inner .login ul li a {
  font-size: 1.166rem;
  padding: 0 0.7rem;
  font-weight: 500;
}

footer {
  width: 67%;
  margin: 0 auto;
  padding-top: 1.333rem;
  border-top: 1px solid rgb(210, 210, 215);
  font-family: "Pretendard-Regular";
  margin-bottom: 2.166rem;
}
footer .f_inner {
  width: 100%;
}
footer .f_inner .nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
footer .f_inner .nav .f_logo {
  width: 4rem;
  height: 2rem;
}
footer .f_inner .nav .f_logo img {
  width: 100%;
}
footer .f_inner .nav .info {
  width: 85%;
  margin-left: 1.166rem;
}
footer .f_inner .nav .info ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
footer .f_inner .nav .info ul li {
  color: rgb(210, 210, 215);
}
footer .f_inner .nav .info ul li a {
  padding: 0 1.166rem;
  font-weight: 600;
}
footer .f_inner .nav .info ul li:hover a {
  text-decoration: underline;
}
footer .f_inner .nav .sns {
  width: 15%;
}
footer .f_inner .nav .sns ul {
  display: flex;
}
footer .f_inner .nav .sns ul li {
  width: 5.083rem;
  height: 2.416rem;
  padding: 0 0.333rem;
}
footer .f_inner .nav .sns ul li a {
  position: relative;
}
footer .f_inner .nav .sns ul li a .black, footer .f_inner .nav .sns ul li a:hover .yellowgreen {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
footer .f_inner .nav .sns ul li a .yellowgreen {
  display: none;
}
footer .f_inner .manager {
  width: 100%;
  margin: 2.166rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}
footer .f_inner .manager .owner {
  font-weight: bold;
  cursor: pointer;
}
footer .f_inner .manager .owner_info {
  width: 100%;
  padding-top: 1.25rem;
  color: #666;
  display: none;
}
footer .f_inner .manager .owner_info ul {
  display: flex;
  align-items: center;
}
footer .f_inner .manager .owner_info ul li {
  padding: 0.5rem 1rem 0.5rem 0;
}
footer .f_inner .manager .owner_info ul li:nth-child(2) {
  color: rgb(210, 210, 215);
}
footer .f_inner .manager .owner_info p {
  padding: 0.5rem 0;
}
footer .f_inner .manager .owner_info p:hover span {
  font-weight: bold;
  text-decoration: underline;
}
footer .footer_bottom {
  width: 100%;
  border-top: 1px solid rgb(210, 210, 215);
}
footer .footer_bottom p {
  color: rgb(134, 134, 139);
  padding-top: 0.666rem;
}

.btn {
  width: 100%;
  height: 4.333rem;
  margin: auto;
  padding-bottom: 1.666rem;
}
.btn button {
  width: 36.667rem;
  height: 4.333rem;
  background-color: #00c73c;
  color: #fff;
  border: none;
  font-size: 2.1rem;
  font-weight: bold;
  border-radius: 1rem;
  position: fixed;
  left: 38.5%;
  bottom: 1.666rem;
  cursor: pointer;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  font-family: "Pretendard-Regular";
}

.audiobook {
  width: 100%;
  height: auto;
  padding-top: 7%;
}
.audiobook .a_inner {
  width: 85%;
  height: auto;
  margin: auto;
  font-family: "SUIT-Regular";
}
.audiobook .a_inner p {
  font-size: 3.9rem;
}
.audiobook .a_inner span {
  font-size: 3.9rem;
  font-weight: bold;
}
.audiobook .a_inner .effect {
  width: 100%;
  height: 82.333rem;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
.audiobook .a_inner .effect1 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect1.png) center right/25rem no-repeat;
  margin: 0 2% 0 0;
}
.audiobook .a_inner .effect1 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect1_1, .audiobook .a_inner .effect1_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect1_1 img, .audiobook .a_inner .effect1_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect1_1 p, .audiobook .a_inner .effect1_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect1_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect2 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect2.png) center right/25rem no-repeat;
}
.audiobook .a_inner .effect2 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect2_1, .audiobook .a_inner .effect2_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect2_1 img, .audiobook .a_inner .effect2_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect2_1 p, .audiobook .a_inner .effect2_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect2_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect3 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect3.png) center right/25rem no-repeat;
  margin: 0 2% 0 0;
}
.audiobook .a_inner .effect3 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect3_1, .audiobook .a_inner .effect3_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect3_1 img, .audiobook .a_inner .effect3_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect3_1 p, .audiobook .a_inner .effect3_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect3_1 {
  margin: 4rem 0 1.25rem 0;
}
.audiobook .a_inner .effect4 {
  width: 45%;
  height: 33.599rem;
  padding: 4% 0 0 4%;
  border-radius: 2.5rem;
  background: rgb(237, 242, 255) url(../img/effect4.png) center right/25rem no-repeat;
}
.audiobook .a_inner .effect4 span {
  font-size: 3.333rem;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect4_1, .audiobook .a_inner .effect4_2 {
  height: 4.599rem;
  display: flex;
}
.audiobook .a_inner .effect4_1 img, .audiobook .a_inner .effect4_2 img {
  width: 7.205rem;
  height: 4.599rem;
  margin-right: 0.833rem;
}
.audiobook .a_inner .effect4_1 p, .audiobook .a_inner .effect4_2 p {
  font-size: 1.8rem;
  margin: 0.5% 0;
  color: rgb(19, 52, 118);
}
.audiobook .a_inner .effect4_1 {
  margin: 4rem 0 1.25rem 0;
}

.book {
  width: 100%;
  height: auto;
  font-family: "SUIT-Regular";
}
.book1, .book2 {
  width: 85%;
  height: auto;
  margin: auto;
  padding-top: 10%;
}
.book1 p, .book1 strong, .book1 span, .book2 p, .book2 strong, .book2 span {
  font-size: 4.583rem;
}
.book1 span, .book2 span {
  color: #00c73c;
}
.book1_1, .book1_2, .book1_3, .book1_4, .book1_5, .book2_1, .book2_2, .book2_3, .book2_4, .book2_5 {
  width: 100%;
  margin-top: 4%;
}
.book1_1 strong, .book1_2 strong, .book1_3 strong, .book1_4 strong, .book1_5 strong, .book2_1 strong, .book2_2 strong, .book2_3 strong, .book2_4 strong, .book2_5 strong {
  font-size: 2.5rem;
}
.book1_1 p, .book1_2 p, .book1_3 p, .book1_4 p, .book1_5 p, .book2_1 p, .book2_2 p, .book2_3 p, .book2_4 p, .book2_5 p {
  font-size: 1.833rem;
  margin: 1% 0;
}
.book1_1 .b_inner, .book1_2 .b_inner, .book1_3 .b_inner, .book1_4 .b_inner, .book1_5 .b_inner, .book2_1 .b_inner, .book2_2 .b_inner, .book2_3 .b_inner, .book2_4 .b_inner, .book2_5 .b_inner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.book1_1 .b_inner .ab, .book1_2 .b_inner .ab, .book1_3 .b_inner .ab, .book1_4 .b_inner .ab, .book1_5 .b_inner .ab, .book2_1 .b_inner .ab, .book2_2 .b_inner .ab, .book2_3 .b_inner .ab, .book2_4 .b_inner .ab, .book2_5 .b_inner .ab {
  width: 111.11%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.book1_1 .b_inner .ab1, .book1_1 .b_inner .ab2, .book1_1 .b_inner .ab3, .book1_1 .b_inner .ab4, .book1_1 .b_inner .ab5, .book1_1 .b_inner .ab6, .book1_2 .b_inner .ab1, .book1_2 .b_inner .ab2, .book1_2 .b_inner .ab3, .book1_2 .b_inner .ab4, .book1_2 .b_inner .ab5, .book1_2 .b_inner .ab6, .book1_3 .b_inner .ab1, .book1_3 .b_inner .ab2, .book1_3 .b_inner .ab3, .book1_3 .b_inner .ab4, .book1_3 .b_inner .ab5, .book1_3 .b_inner .ab6, .book1_4 .b_inner .ab1, .book1_4 .b_inner .ab2, .book1_4 .b_inner .ab3, .book1_4 .b_inner .ab4, .book1_4 .b_inner .ab5, .book1_4 .b_inner .ab6, .book1_5 .b_inner .ab1, .book1_5 .b_inner .ab2, .book1_5 .b_inner .ab3, .book1_5 .b_inner .ab4, .book1_5 .b_inner .ab5, .book1_5 .b_inner .ab6, .book2_1 .b_inner .ab1, .book2_1 .b_inner .ab2, .book2_1 .b_inner .ab3, .book2_1 .b_inner .ab4, .book2_1 .b_inner .ab5, .book2_1 .b_inner .ab6, .book2_2 .b_inner .ab1, .book2_2 .b_inner .ab2, .book2_2 .b_inner .ab3, .book2_2 .b_inner .ab4, .book2_2 .b_inner .ab5, .book2_2 .b_inner .ab6, .book2_3 .b_inner .ab1, .book2_3 .b_inner .ab2, .book2_3 .b_inner .ab3, .book2_3 .b_inner .ab4, .book2_3 .b_inner .ab5, .book2_3 .b_inner .ab6, .book2_4 .b_inner .ab1, .book2_4 .b_inner .ab2, .book2_4 .b_inner .ab3, .book2_4 .b_inner .ab4, .book2_4 .b_inner .ab5, .book2_4 .b_inner .ab6, .book2_5 .b_inner .ab1, .book2_5 .b_inner .ab2, .book2_5 .b_inner .ab3, .book2_5 .b_inner .ab4, .book2_5 .b_inner .ab5, .book2_5 .b_inner .ab6 {
  width: 9.6%;
  height: 19.4775rem;
  padding: 0 0.4%;
}
.book1_1 .b_inner .ab1 img, .book1_1 .b_inner .ab2 img, .book1_1 .b_inner .ab3 img, .book1_1 .b_inner .ab4 img, .book1_1 .b_inner .ab5 img, .book1_1 .b_inner .ab6 img, .book1_2 .b_inner .ab1 img, .book1_2 .b_inner .ab2 img, .book1_2 .b_inner .ab3 img, .book1_2 .b_inner .ab4 img, .book1_2 .b_inner .ab5 img, .book1_2 .b_inner .ab6 img, .book1_3 .b_inner .ab1 img, .book1_3 .b_inner .ab2 img, .book1_3 .b_inner .ab3 img, .book1_3 .b_inner .ab4 img, .book1_3 .b_inner .ab5 img, .book1_3 .b_inner .ab6 img, .book1_4 .b_inner .ab1 img, .book1_4 .b_inner .ab2 img, .book1_4 .b_inner .ab3 img, .book1_4 .b_inner .ab4 img, .book1_4 .b_inner .ab5 img, .book1_4 .b_inner .ab6 img, .book1_5 .b_inner .ab1 img, .book1_5 .b_inner .ab2 img, .book1_5 .b_inner .ab3 img, .book1_5 .b_inner .ab4 img, .book1_5 .b_inner .ab5 img, .book1_5 .b_inner .ab6 img, .book2_1 .b_inner .ab1 img, .book2_1 .b_inner .ab2 img, .book2_1 .b_inner .ab3 img, .book2_1 .b_inner .ab4 img, .book2_1 .b_inner .ab5 img, .book2_1 .b_inner .ab6 img, .book2_2 .b_inner .ab1 img, .book2_2 .b_inner .ab2 img, .book2_2 .b_inner .ab3 img, .book2_2 .b_inner .ab4 img, .book2_2 .b_inner .ab5 img, .book2_2 .b_inner .ab6 img, .book2_3 .b_inner .ab1 img, .book2_3 .b_inner .ab2 img, .book2_3 .b_inner .ab3 img, .book2_3 .b_inner .ab4 img, .book2_3 .b_inner .ab5 img, .book2_3 .b_inner .ab6 img, .book2_4 .b_inner .ab1 img, .book2_4 .b_inner .ab2 img, .book2_4 .b_inner .ab3 img, .book2_4 .b_inner .ab4 img, .book2_4 .b_inner .ab5 img, .book2_4 .b_inner .ab6 img, .book2_5 .b_inner .ab1 img, .book2_5 .b_inner .ab2 img, .book2_5 .b_inner .ab3 img, .book2_5 .b_inner .ab4 img, .book2_5 .b_inner .ab5 img, .book2_5 .b_inner .ab6 img {
  width: 100%;
  border-radius: 0.5rem;
}
.book1_1 .b_inner span, .book1_2 .b_inner span, .book1_3 .b_inner span, .book1_4 .b_inner span, .book1_5 .b_inner span, .book2_1 .b_inner span, .book2_2 .b_inner span, .book2_3 .b_inner span, .book2_4 .b_inner span, .book2_5 .b_inner span {
  position: absolute;
  color: #ccc;
  opacity: 0.5;
  cursor: pointer;
  top: 33%;
}
.book1_1 .b_inner .before, .book1_2 .b_inner .before, .book1_3 .b_inner .before, .book1_4 .b_inner .before, .book1_5 .b_inner .before, .book2_1 .b_inner .before, .book2_2 .b_inner .before, .book2_3 .b_inner .before, .book2_4 .b_inner .before, .book2_5 .b_inner .before {
  left: 0;
}
.book1_1 .b_inner .after, .book1_2 .b_inner .after, .book1_3 .b_inner .after, .book1_4 .b_inner .after, .book1_5 .b_inner .after, .book2_1 .b_inner .after, .book2_2 .b_inner .after, .book2_3 .b_inner .after, .book2_4 .b_inner .after, .book2_5 .b_inner .after {
  right: 0;
}
.book1_1 .b_inner .willa, .book1_2 .b_inner .willa, .book1_3 .b_inner .willa, .book1_4 .b_inner .willa, .book1_5 .b_inner .willa, .book2_1 .b_inner .willa, .book2_2 .b_inner .willa, .book2_3 .b_inner .willa, .book2_4 .b_inner .willa, .book2_5 .b_inner .willa {
  width: 250%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.book1_1 .b_inner .willa li, .book1_2 .b_inner .willa li, .book1_3 .b_inner .willa li, .book1_4 .b_inner .willa li, .book1_5 .b_inner .willa li, .book2_1 .b_inner .willa li, .book2_2 .b_inner .willa li, .book2_3 .b_inner .willa li, .book2_4 .b_inner .willa li, .book2_5 .b_inner .willa li {
  width: 9.6%;
  height: auto;
  padding: 0 0.4%;
}
.book1_1 .b_inner .willa li img, .book1_2 .b_inner .willa li img, .book1_3 .b_inner .willa li img, .book1_4 .b_inner .willa li img, .book1_5 .b_inner .willa li img, .book2_1 .b_inner .willa li img, .book2_2 .b_inner .willa li img, .book2_3 .b_inner .willa li img, .book2_4 .b_inner .willa li img, .book2_5 .b_inner .willa li img {
  width: 100%;
  border-radius: 0.5rem;
}
.book1_1 .b_inner .themawrap, .book1_2 .b_inner .themawrap, .book1_3 .b_inner .themawrap, .book1_4 .b_inner .themawrap, .book1_5 .b_inner .themawrap, .book2_1 .b_inner .themawrap, .book2_2 .b_inner .themawrap, .book2_3 .b_inner .themawrap, .book2_4 .b_inner .themawrap, .book2_5 .b_inner .themawrap {
  width: 234%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.book1_1 .b_inner .themawrap .thema, .book1_2 .b_inner .themawrap .thema, .book1_3 .b_inner .themawrap .thema, .book1_4 .b_inner .themawrap .thema, .book1_5 .b_inner .themawrap .thema, .book2_1 .b_inner .themawrap .thema, .book2_2 .b_inner .themawrap .thema, .book2_3 .b_inner .themawrap .thema, .book2_4 .b_inner .themawrap .thema, .book2_5 .b_inner .themawrap .thema {
  width: 14.6%;
  height: auto;
  padding: 0 0.4%;
}
.book1_1 .b_inner .themawrap .thema img, .book1_2 .b_inner .themawrap .thema img, .book1_3 .b_inner .themawrap .thema img, .book1_4 .b_inner .themawrap .thema img, .book1_5 .b_inner .themawrap .thema img, .book2_1 .b_inner .themawrap .thema img, .book2_2 .b_inner .themawrap .thema img, .book2_3 .b_inner .themawrap .thema img, .book2_4 .b_inner .themawrap .thema img, .book2_5 .b_inner .themawrap .thema img {
  width: 100%;
  border-radius: 0.5rem;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
#wrap {
  height: auto;
  margin: auto;
  min-width: 1885px;
}

.section {
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 6rem;
  font-family: "Pretendard-Regular";
}
.section1 {
  width: 60%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section1 .book {
  width: 37%;
  height: 51.25rem;
  float: left;
}
.section1 .book img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.section1 .selling {
  width: 60%;
  height: auto;
}
.section1 .selling .count {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}
.section1 .selling .count strong {
  font-size: 1.666rem;
}
.section1 .selling .count p {
  font-size: 1.166rem;
  color: rgb(149, 147, 148);
  margin-top: 1rem;
}
.section1 .selling .count .keep {
  width: 12%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.section1 .selling .count .keep p {
  font-size: 1rem;
}
.section1 .selling .count .keep p i {
  color: #00c73c;
}
.section1 .selling .count .total {
  width: 100%;
  height: auto;
}
.section1 .selling .count .total .sale {
  width: 15%;
  height: auto;
  margin: 1.2rem 0 0.5rem 0;
}
.section1 .selling .count .total .sale s {
  color: rgb(149, 147, 148);
}
.section1 .selling .count .total .sale strong {
  color: red;
  font-size: 1.666rem;
}
.section1 .selling .count .total span {
  font-size: 1.666rem;
  font-weight: bold;
}
.section1 .selling .pick {
  width: 100%;
  height: auto;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}
.section1 .selling .pick button {
  width: 44%;
  height: 4rem;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 1rem;
  font-family: "Pretendard-Regular";
  cursor: pointer;
}
.section1 .selling .pick button:first-child {
  width: 6%;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
}
.section1 .selling .pick button:first-child i {
  font-size: 1.5rem;
}
.section1 .selling .info {
  width: 100%;
  height: auto;
  border-radius: 50px;
  overflow: hidden;
}
.section1 .selling .info1, .section1 .selling .info2, .section1 .selling .info3, .section1 .selling .info4, .section1 .selling .info5, .section1 .selling .info6 {
  width: 93%;
  height: auto;
  background-color: rgb(245, 246, 249);
  margin-top: 0.2rem;
  padding: 2rem;
  position: relative;
  cursor: pointer;
}
.section1 .selling .info1 span, .section1 .selling .info2 span, .section1 .selling .info3 span, .section1 .selling .info4 span, .section1 .selling .info5 span, .section1 .selling .info6 span {
  font-size: 1.75rem;
  font-weight: bold;
}
.section1 .selling .info1 span i, .section1 .selling .info2 span i, .section1 .selling .info3 span i, .section1 .selling .info4 span i, .section1 .selling .info5 span i, .section1 .selling .info6 span i {
  font-size: 1.5rem;
  position: absolute;
  right: 4%;
}
.section1 .selling .info1 .tmpBox, .section1 .selling .info2 .tmpBox, .section1 .selling .info3 .tmpBox, .section1 .selling .info4 .tmpBox, .section1 .selling .info5 .tmpBox, .section1 .selling .info6 .tmpBox {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: none;
}
.section1 .selling .info1 .tmpBox p, .section1 .selling .info2 .tmpBox p, .section1 .selling .info3 .tmpBox p, .section1 .selling .info4 .tmpBox p, .section1 .selling .info5 .tmpBox p, .section1 .selling .info6 .tmpBox p {
  font-size: 1.3rem;
  color: #666;
}
.section2 {
  width: 56%;
  height: auto;
  margin: auto;
  padding: 5% 2%;
}
.section2 p {
  font-size: 1.75rem;
}
.section2 p strong {
  font-size: 1.75rem;
}
.section2 .keyword {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.section2 .keyword1, .section2 .keyword2, .section2 .keyword3, .section2 .keyword4, .section2 .keyword5, .section2 .keyword6, .section2 .keyword7, .section2 .keyword8, .section2 .keyword9, .section2 .keyword10, .section2 .keyword11 {
  width: auto;
  padding: 1rem;
  margin: 1rem;
  background-color: #fafafa;
  border-radius: 4.166rem;
  border: 1px solid #ddd;
  cursor: pointer;
}
.section2 .keyword1 p, .section2 .keyword2 p, .section2 .keyword3 p, .section2 .keyword4 p, .section2 .keyword5 p, .section2 .keyword6 p, .section2 .keyword7 p, .section2 .keyword8 p, .section2 .keyword9 p, .section2 .keyword10 p, .section2 .keyword11 p {
  color: #666;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}
.section2 .keyword1:hover p, .section2 .keyword2:hover p, .section2 .keyword3:hover p, .section2 .keyword4:hover p, .section2 .keyword5:hover p, .section2 .keyword6:hover p, .section2 .keyword7:hover p, .section2 .keyword8:hover p, .section2 .keyword9:hover p, .section2 .keyword10:hover p, .section2 .keyword11:hover p {
  color: #00c73c;
}
.section3 {
  width: 100%;
  height: auto;
}
.section3 .a_wrap {
  width: 57%;
  height: auto;
  margin: auto;
  padding: 5% 1.5%;
}
.section3 .a_wrap p {
  font-size: 1.75rem;
  font-weight: bold;
}
.section3 .a_wrap .another {
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 3%;
  overflow: hidden;
  position: relative;
}
.section3 .a_wrap .another .a_book {
  width: 200%;
  height: auto;
  display: flex;
}
.section3 .a_wrap .another .a_book1, .section3 .a_wrap .another .a_book2, .section3 .a_wrap .another .a_book3, .section3 .a_wrap .another .a_book4, .section3 .a_wrap .another .a_book5, .section3 .a_wrap .another .a_book6 {
  width: 20%;
  height: 28rem;
  margin: auto;
  padding: 0 0.4%;
}
.section3 .a_wrap .another .a_book1 img, .section3 .a_wrap .another .a_book2 img, .section3 .a_wrap .another .a_book3 img, .section3 .a_wrap .another .a_book4 img, .section3 .a_wrap .another .a_book5 img, .section3 .a_wrap .another .a_book6 img {
  width: 100%;
}
.section3 .a_wrap .another .a_book1 strong, .section3 .a_wrap .another .a_book2 strong, .section3 .a_wrap .another .a_book3 strong, .section3 .a_wrap .another .a_book4 strong, .section3 .a_wrap .another .a_book5 strong, .section3 .a_wrap .another .a_book6 strong {
  font-size: 1.4rem;
}
.section3 .a_wrap .another .a_book1 p, .section3 .a_wrap .another .a_book2 p, .section3 .a_wrap .another .a_book3 p, .section3 .a_wrap .another .a_book4 p, .section3 .a_wrap .another .a_book5 p, .section3 .a_wrap .another .a_book6 p {
  font-size: 1.2rem;
  font-weight: normal;
}
.section3 .a_wrap .another .before, .section3 .a_wrap .another .after {
  position: absolute;
  background-color: #333;
  opacity: 0.7;
  width: 2.833rem;
  height: 3.166rem;
  top: 42%;
  cursor: pointer;
}
.section3 .a_wrap .another .before span, .section3 .a_wrap .another .after span {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 0.5rem;
}
.section3 .a_wrap .another .before {
  left: 0;
}
.section3 .a_wrap .another .after {
  right: 0;
}
.section4 {
  width: 100%;
  height: auto;
  background-color: rgb(245, 246, 249);
}
.section4 .s_inner {
  width: 56%;
  height: auto;
  margin: auto;
  padding: 5% 2%;
}
.section4 .s_inner p {
  font-size: 1.75rem;
  font-weight: bold;
}
.section4 .s_inner .evaluation {
  width: 100%;
  height: auto;
  margin-top: 3%;
  text-align: center;
}
.section4 .s_inner .evaluation .score {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}
.section4 .s_inner .evaluation .score i {
  font-size: 4rem;
  color: #00c73c;
}
.section4 .s_inner .evaluation .score strong {
  font-size: 4rem;
  margin-left: 1rem;
}
.section4 .s_inner .evaluation .score span {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(149, 147, 148);
}
.section4 .s_inner .review {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.section4 .s_inner .review1, .section4 .s_inner .review2, .section4 .s_inner .review3, .section4 .s_inner .review4, .section4 .s_inner .review5, .section4 .s_inner .review6 {
  width: 41%;
  height: auto;
  margin: 3.9rem;
  position: relative;
}
.section4 .s_inner .review1 .rev_inner, .section4 .s_inner .review2 .rev_inner, .section4 .s_inner .review3 .rev_inner, .section4 .s_inner .review4 .rev_inner, .section4 .s_inner .review5 .rev_inner, .section4 .s_inner .review6 .rev_inner {
  width: 94%;
  height: auto;
  padding: 3%;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}
.section4 .s_inner .review1 .rev_inner .star, .section4 .s_inner .review2 .rev_inner .star, .section4 .s_inner .review3 .rev_inner .star, .section4 .s_inner .review4 .rev_inner .star, .section4 .s_inner .review5 .rev_inner .star, .section4 .s_inner .review6 .rev_inner .star {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.section4 .s_inner .review1 .rev_inner .star .subscribe, .section4 .s_inner .review2 .rev_inner .star .subscribe, .section4 .s_inner .review3 .rev_inner .star .subscribe, .section4 .s_inner .review4 .rev_inner .star .subscribe, .section4 .s_inner .review5 .rev_inner .star .subscribe, .section4 .s_inner .review6 .rev_inner .star .subscribe {
  width: 6%;
  height: auto;
  font-size: 1.166rem;
  padding: 0 0.3rem;
  margin-right: 0.5rem;
  border: 1px solid #ddd;
  background-color: #fff;
}
.section4 .s_inner .review1 .rev_inner .star i, .section4 .s_inner .review2 .rev_inner .star i, .section4 .s_inner .review3 .rev_inner .star i, .section4 .s_inner .review4 .rev_inner .star i, .section4 .s_inner .review5 .rev_inner .star i, .section4 .s_inner .review6 .rev_inner .star i {
  color: #00c73c;
}
.section4 .s_inner .review1 .rev_inner p, .section4 .s_inner .review2 .rev_inner p, .section4 .s_inner .review3 .rev_inner p, .section4 .s_inner .review4 .rev_inner p, .section4 .s_inner .review5 .rev_inner p, .section4 .s_inner .review6 .rev_inner p {
  font-size: 1.333rem;
  font-weight: normal;
  color: #333;
}
.section4 .s_inner .review1 .rev_inner .like, .section4 .s_inner .review2 .rev_inner .like, .section4 .s_inner .review3 .rev_inner .like, .section4 .s_inner .review4 .rev_inner .like, .section4 .s_inner .review5 .rev_inner .like, .section4 .s_inner .review6 .rev_inner .like {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: flex;
}
.section4 .s_inner .review1 .rev_inner .like p, .section4 .s_inner .review2 .rev_inner .like p, .section4 .s_inner .review3 .rev_inner .like p, .section4 .s_inner .review4 .rev_inner .like p, .section4 .s_inner .review5 .rev_inner .like p, .section4 .s_inner .review6 .rev_inner .like p {
  font-size: 1.166rem;
  color: #666;
}
.section4 .s_inner .review1 .rev_inner .like .heart, .section4 .s_inner .review2 .rev_inner .like .heart, .section4 .s_inner .review3 .rev_inner .like .heart, .section4 .s_inner .review4 .rev_inner .like .heart, .section4 .s_inner .review5 .rev_inner .like .heart, .section4 .s_inner .review6 .rev_inner .like .heart {
  width: 5%;
  height: auto;
  margin-left: 0.5rem;
  font-size: 1.166rem;
  padding: 0 0.2rem;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}
.section4 .s_inner .review1 .rev_inner .like .heart i, .section4 .s_inner .review2 .rev_inner .like .heart i, .section4 .s_inner .review3 .rev_inner .like .heart i, .section4 .s_inner .review4 .rev_inner .like .heart i, .section4 .s_inner .review5 .rev_inner .like .heart i, .section4 .s_inner .review6 .rev_inner .like .heart i {
  color: #ff6666;
}
.section4 .s_inner .review1 .user, .section4 .s_inner .review2 .user, .section4 .s_inner .review3 .user, .section4 .s_inner .review4 .user, .section4 .s_inner .review5 .user, .section4 .s_inner .review6 .user {
  margin-top: 1rem;
  color: rgb(149, 147, 148);
  position: absolute;
  right: 0;
}
.section4 .s_inner .review1 .user span, .section4 .s_inner .review2 .user span, .section4 .s_inner .review3 .user span, .section4 .s_inner .review4 .user span, .section4 .s_inner .review5 .user span, .section4 .s_inner .review6 .user span {
  color: #00c73c;
  cursor: pointer;
}
.section4 .s_inner .review1 .user span:hover, .section4 .s_inner .review2 .user span:hover, .section4 .s_inner .review3 .user span:hover, .section4 .s_inner .review4 .user span:hover, .section4 .s_inner .review5 .user span:hover, .section4 .s_inner .review6 .user span:hover {
  text-decoration: underline;
}
.section4 .s_inner .review .page {
  width: 88%;
  height: auto;
  margin: auto;
  padding: 1% 1.5%;
  border: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section4 .s_inner .review .page .number i, .section4 .s_inner .review .page .number span {
  margin: 0 0.5rem;
  color: #666;
  font-size: 1.166rem;
  cursor: pointer;
}
.section4 .s_inner .review .page .number i:hover, .section4 .s_inner .review .page .number span:hover {
  color: #000;
  font-weight: bold;
}
.section4 .s_inner .review .page .sequence {
  display: flex;
  margin: 0 1rem;
}
.section4 .s_inner .review .page .sequence label {
  margin-right: 1rem;
  color: #666;
  font-size: 1.166rem;
  height: 2.5rem;
  line-height: 2.5rem;
  cursor: pointer;
}
.section4 .s_inner .review .page .sequence label input {
  width: 1.166rem;
  height: 1.166rem;
  margin-right: 0.5rem;
  vertical-align: -0.166rem;
}
.section4 .s_inner .review .page .sequence ul {
  display: flex;
  line-height: 2.5rem;
}
.section4 .s_inner .review .page .sequence ul li {
  margin: 0 0.5rem;
  font-size: 1.333rem;
  color: #ccc;
}
.section4 .s_inner .review .page .sequence ul li a {
  color: #666;
  font-size: 1.166rem;
}
.section4 .s_inner .review .page .sequence ul li a:hover {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}
.section4 .s_inner .review .page .sequence ul li:first-child a {
  color: #00c73c;
}