@charset "utf-8";

@import "reset","common","mixin";

$mainColor : #00c73c;
$bgColor : rgb(245, 246, 249);

// 폰트
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#wrap{
    height: auto;
    margin: auto;
    min-width: 1200px;
}

.section{
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 6rem;
    font-family: 'Pretendard-Regular';
    // 책 정보
    &1{
        width: 70%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .book{
            width: 37%;
            height: 51.25rem;
            float: left;
            img{
                width: 100%;
                border: 1px solid #ddd;
                border-radius: 10px;
            }
        }
        .selling{
            width: 60%;
            height: auto;
            .count{
                width: 100%;
                height: auto;
                margin: 1rem 0;
                strong{
                    font-size: 1.666rem;
                }
                p{
                    font-size: 1.166rem;
                    color: rgb(149, 147, 148);
                    margin-top: 1rem;
                }
                .keep{
                    width: 6rem;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-size: 1rem;
                        i{
                            color: $mainColor;
                        }
                    }
                }
                .total{
                    width: 100%;
                    height: auto;
                    .sale{
                        width: 7rem;
                        height: auto;
                        margin: 1.2rem 0 0.5rem 0;
                        s{
                            color: rgb(149, 147, 148);
                        }
                        strong{
                            color: red;
                            font-size: 1.666rem;
                        }
                    }
                    span{
                        font-size: 1.666rem;
                        font-weight: bold;
                    }
                }
            }
            .pick{
                width: 100%;
                height: auto;
                margin: 3rem 0;
                display: flex;
                justify-content: space-between;
                button{
                    width: 44%;
                    height: 4rem;
                    background-color: #000;
                    color: #fff;
                    border: none;
                    font-size: 1.3rem;
                    font-weight: bold;
                    border-radius: 1rem;
                    font-family: 'Pretendard-Regular';
                    cursor: pointer;
                }
                button:first-child{
                    width: 6%;
                    background-color: #fff;
                    color: #000;
                    border: 1px solid #ddd;
                    i{
                        font-size: 1.5rem;
                    }
                }
            }
            .info{
                width: 100%;
                height: auto;
                border-radius: 50px;
                overflow: hidden;
                &1,&2,&3,&4,&5,&6{
                    width: 93%;
                    height: auto;
                    background-color: $bgColor;
                    margin-top: 0.2rem;
                    padding: 2rem;
                    position: relative;
                    cursor: pointer;
                    span{
                        font-size: 1.75rem;
                        font-weight: bold;
                        i{
                            font-size: 1.5rem;
                            position: absolute;
                            right: 4%;
                        }
                    }
                    .tmpBox{
                        width: 100%;
                        height: auto;
                        margin-top: 2rem;
                        display: none;
                        p{
                            font-size: 1.3rem;
                            color: #666;
                        }
                    }
                    
                }
            }    
        }   
    }
    // 키워드
    &2{
        width: 66%;
        height: auto;
        margin: auto;
        padding: 5% 2%;
        p{
            font-size: 1.75rem;
            strong{
                font-size: 1.75rem;
            }
        }
        .keyword{
            width: 100%;
            height: auto;
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            &1,&2,&3,&4,&5,&6,&7,&8,&9,&10,&11{
                width: auto;
                padding: 1rem;
                margin: 1rem;
                background-color: #fafafa;
                border-radius: 4.166rem;
                border: 1px solid #ddd;
                cursor: pointer;
                p{
                    color: #666;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    text-align: center;
                }
                &:hover p{
                    color: $mainColor;
                }
            }
            
        }
    }
    // 작가의 다른 상품
    &3{
        width: 100%;
        height: auto;
        .a_wrap{
            width: 67%;
            height: auto;
            margin: auto;
            padding: 5% 1.5%;
            p{
                font-size: 1.75rem;
                font-weight: bold;
            }
            .another{
                width: 100%;
                height: auto;
                margin: auto;
                padding-top: 3%;
                overflow: hidden;
                position: relative;
                .a_book{
                    width: 200%;
                    height: auto;
                    display: flex;
                    &1,&2,&3,&4,&5,&6{
                        width: 20%;
                        height: auto;
                        margin: auto;
                        padding: 0 0.4%;
                        img{
                            width: 100%;
                        }
                        strong{
                            font-size: 1.4rem;
                        }
                        p{
                            font-size: 1.2rem;
                            font-weight: normal;
                        }
                    }
                }
                .before,.after{
                    position: absolute;
                    background-color: #333;
                    opacity: 0.7;
                    width: 2.833rem;
                    height: 3.166rem;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    span{
                        color: #fff;
                        font-size: 2.5rem;
                        margin-left: 0.5rem;
                    }
                }
                .before{
                    left: 0;
                }
                .after{
                    right: 0;
                }
            }
        }
    }
    // 별점 | 리뷰
    &4{
        width: 100%;
        height: auto;
        background-color: $bgColor;
        .s_inner{
            width: 66%;
            height: auto;
            margin: auto;
            padding: 5% 2%;
            p{
                font-size: 1.75rem;
                font-weight: bold;
            }
            .evaluation{
                width: 100%;
                height: auto;
                margin-top: 3%;
                text-align: center;
                .score{
                    width: 100%;
                    height: auto;
                    margin: 2rem 0;
                    i{
                        font-size: 4rem;
                        color: $mainColor;
                    }
                    strong{
                        font-size: 4rem;
                        margin-left: 1rem;
                    }
                    span{
                        font-size: 2.5rem;
                        font-weight: bold;
                        color: rgb(149, 147, 148);
                    }
                }
                
            }
            .review{
                width: 100%;
                height: auto;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                &1,&2,&3,&4,&5,&6{
                    width: 40%;
                    height: auto;
                    margin: 3.3rem 3rem;
                    position: relative;
                    .rev_inner{
                        width: 94%;
                        height: auto;
                        padding: 3%;
                        border: 1px solid #ddd;
                        background-color: #f8f8f8;
                        .star{
                            width: 100%;
                            height: auto;
                            margin-bottom: 1rem;
                            display: flex;
                            align-items: center;
                            .subscribe{
                                width: 2.1rem;
                                height: auto;
                                font-size: 1.166rem;
                                padding: 0 0.3rem;
                                margin-right: 0.5rem;
                                border: 1px solid #ddd;
                                background-color: #fff;
                            }
                            i{
                                color: $mainColor;
                            }
                        }
                        p{
                            font-size: 1.333rem;
                            font-weight: normal;
                            color: #333;
                        }
                        .like{
                            width: 100%;
                            height: auto;
                            margin-top: 1rem;
                            display: flex;
                            p{
                                font-size: 1.166rem;
                                color: #666;
                            }
                            .heart{
                                width: 1.7rem;
                                height: auto;
                                margin-left: 0.5rem;
                                font-size: 1.166rem;
                                padding: 0 0.2rem;
                                border: 1px solid #ddd;
                                background-color: #fff;
                                cursor: pointer;
                                i{
                                        color: #ff6666;
                                }
                            }
                        }
                    }
                    .user{
                        margin-top: 1rem;
                        color: rgb(149, 147, 148);
                        position: absolute;
                        right: 0;
                        span{
                            color: $mainColor;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }  
                        }
                    }                   
                }
                .page{
                    width: 100%;
                    height: auto;
                    margin: auto;
                    padding: 1% 0;
                    border: 1px solid #ddd;
                    background-color: #fff;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .number{
                        i,span{
                            margin: 0 0.5rem;
                            color: #666;
                            font-size: 1.166rem;
                            cursor: pointer;
                            &:hover{
                                color: #000;
                                font-weight: bold;
                            }
                        }
                    }
                    .sequence{
                        display: flex;
                        margin: 0 1rem;
                        label{
                            margin-right: 1rem;
                            color: #666;
                            font-size: 1.166rem;
                            height: 2.5rem;
                            line-height: 2.5rem;
                            cursor: pointer;
                            input{
                                width: 1.166rem;
                                height: 1.166rem;
                                margin-right: 0.5rem;
                                vertical-align: -0.166rem;
                            }
                        }
                        ul{
                            display: flex;
                            line-height: 2.5rem;
                            li{
                                margin: 0 0.5rem;
                                font-size: 1.333rem;
                                color: #ccc;
                                a{
                                    color: #666;
                                    font-size: 1.166rem;
                                    &:hover{
                                        color: #333;
                                        font-weight: bold;
                                        text-decoration: underline;
                                    }
                                }
                                &:first-child a{
                                    color: $mainColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
